body {
  height: 100vh;
}

.headerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.player1 {
  display: flex;
  font-size: 300px;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
}

.player2 {
  display: flex;
  font-size: 300px;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
}

.footerStyle {
  padding: 10px;
  justify-content: center;
}